name: docker
on: 
  push:
    branches: [ops]
jobs: 
  docker: 
    runs-on: ubuntu-18.04
    steps: 
    - 
      name: checkout
      uses: actions/checkout@v2
    -
      name: test
      run: |
        docker build -t test --no-cache .
        docken run -d test 
        while true 
          do 
            sleep 1
            docker ps | grep Up && break
          done
        while true
          do
            sleep 1
            docker exec $(docker ps -q) ps | grep java && break
          done
        while true
          do
            sleep 1
            curl localhost -I | grep 200 && break
          done
